.search-box {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 30%;
  left: 30px;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;
}

.search-input {
  padding-left: 60px;
  height: 50px;
  border-radius: 8px;
}

.search-input:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* shadow */
  border-color: #ced4da !important; /* same as normal border */
}
