.row .col-4 .universeImg {
  height: 120px;
  width: 200px;
}

.row .col-4 p {
  color: grey;
  padding: 20px 60px 0px 60px;
}

.col-4 {
  padding: 50px;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .col-4 {
    flex: 0 0 50%; /* 2 items per row */
    max-width: 50%;
  }
}

.col-4 .universeImg:hover {
  opacity: 0.7;
}
